span {
    background: red;
    color: white;
    display: none;
}

/*CLASES*/

.padre {
    background: red;
    padding: 10px;
    /*CON DISPLAY FLEX USAMOS FLEXBOX*/
    display: flex;
    width: 200px;
    flex-wrap: wrap;
}

.hijo {
    width: 100px;
}